Package: com.kwab.showbattery
Name: showbattery
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: KWaB
Author: KWaB
Section: Tweaks
Version: 1.1.0-1+debug
Installed-Size: 156
